{% if tasks != null %}
<div class="row">
    {% for task in tasks %}
        {% include 'components/task/_task.html.twig' %}
    {% endfor %}
</div>
<div class="d-flex justify-content-center mt-5">
    {% include './components/_pagination.html.twig' %}
</div>
{% endif %}
{% if tasks|length == 0 %}
<div class="alert alert-success mt-4" role="alert">
    {{ 'app.twig.component.tasks.no_task'|trans }}
</div>
{% endif %}

