{% extends 'base.html.twig' %}
{% block title %}{{ 'app.twig.page.user.list.sub_title'|trans }}{% endblock %}
{% block header_img %}{% endblock %}
{% block header_title %}<h1>Liste des utilisateurs</h1>{% endblock %}

{% block body %}
    <h2 class="mt-4 text-uppercase fw-bold">{{ 'app.twig.page.user.list.sub_title'|trans }}</h2>
    <div
            {{ stimulus_controller('search-preview',{
                url: path('user_list'),
                page: currentPage,
                limit: currentLimit,
                search: search
            }) }}
    >
        {% include 'components/_searchBar.html.twig' %}
        <div data-search-preview-target="resultSearch">
            {% include 'components/user/_users.html.twig' %}
        </div>
    </div>
{% endblock %}
